{% comment %} usage :
colortab is an array of your color's name in shopify admin
codcolortab is an array of color display in the swatch
replace on the line {% if option == 'Color'... by the name of the attribute you want (color, couleur)...
Assign at your main image in your product-loop snippet the id 'img-{{ product.id }}'
And Voila..
{% endcomment %}

{% assign colortab = "white,black,royalblue,heathergrey,darkheathergrey,red,yellow,opal,burgundy" | split: ',' %}
{% assign codcolortab = "#ffffff,#000000,#253369,#b7b7b3,#b5b5b0,#cc1917,#f5cd61,#a4a6aa,#ab1a1a" | split: ',' %}
{% for option in product.options %}
  {% if option == 'Color' or option == 'color' or option == 'Couleur' or option == 'couleur' %}
    {% assign index = forloop.index0 %}
    {% assign colorlist ='' %}
    {% assign color ='' %}
    {% for variant in product.variants %}
      {% capture color %}{{ variant.options[index] }}{% endcapture %}
      {% unless colorlist contains color %}
        {% capture tempList %}{{colorlist | append: color | append: '|' }}{% endcapture %}
        {% assign colorlist = tempList %}
      	{% for ctab in colortab %}
      	   {% assign c = color | downcase%}
		   {% if ctab == c %}
      	   	  {% assign i = forloop.index | minus: 1%}
 			  <div style="background-color:{{ codcolortab[i] }};margin:0 5pt;width:10pt;height:10pt;display:inline-block;border-radius:100%;border:1px solid black;cursor:pointer" onclick="$('#img-{{ product.id }}').attr('src', '{{ variant.image.src | img_url: 'large' }}')">
			  </div>
			{% endif%}
        {% endfor %}
      {% endunless %}
    {% endfor %}
    {% assign colorArray = colorlist | split: '|' %}
  {% endif %}
{% endfor %}
